.section-book-css{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-td-description-css{
    width: 20%;
}

.table-td-content-css{
    width: 100%;
}

.description_css{
    padding: 2rem;
    max-width: 100%;
}

.with_css{
    
    width: 50vw;
}

