<div class="d-flex flex-column align-items-center" >
       
    <div>
        <h1 class="card-title text-center ">Book details</h1>
    </div>      
    <div class="section-book-css">
                <div class="d-flex flex-row">
                 
                    <div>
                        <img src={{bookDetails.image}} alt="" srcset="">
                    </div>
                    <div>
                        <div class=" w-100 my-5">
                            <div class="car-body">
                                <table class="table table-striped">
                                    <tbody >
                                        <tr > 
                                            <td class="table-td-description-css">Author:</td>
                                            <td class="table-td-content-css">{{bookDetails.authors}}</td>
                                        </tr>
                                        <tr> 
                                            <td>Publisher:</td>
                                            <td>{{bookDetails.publisher}}</td>
                                        </tr>
                                        <tr> 
                                            <td>Published (Year):</td>
                                            <td>{{bookDetails.year}}</td>
                                        </tr>
                                        <tr> 
                                            <td>Pages:</td>
                                            <td>{{bookDetails.pages}}</td>
                                        </tr>
                                        <tr> 
                                            <td>Language:</td>
                                            <td>{{bookDetails.language}}</td>
                                        </tr>
                                        <tr> 
                                            <td>Price:</td>
                                            <td>{{bookDetails.price}}</td>
                                        </tr>
                                            

                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-around">
                                            
                                    <button class="btn btn-secondary" [routerLink]="lastUrl">Back</button> <!-- [routerLink]="['/form',user.id]" routerlink passado como array para conter parametros -->
                            
                                    <button class="btn btn-success" >
                                        <a href="{{bookDetails.url}}" style="text-decoration:none ; color: white;">Redirect to more opitions / buy</a></button> <!-- (click)="deleteUser(user.id)" -->
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div>
                        Description:
                        <br>
                        {{bookDetails.desc}}
                    </div>
        </div>  


</div>
